doctype html
html
    head
        meta(charset='utf-8')
        title= title
        link(rel='stylesheet', href='/stylesheets/styles.css')
    body
        h1= title
        p Bienvenu chez #{title}
